rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Prod-WorkspaceInvites/{document=**} {
      allow create: if
        request.auth != null && 
        request.auth.token.role == 'owner' &&
        request.auth.token.workspaceId == request.resource.data.workspaceId;
    }
    match /Prod-Workspaces/{workspaceId}/{document=**} {
      allow read, write: if
        request.auth != null && 
        request.auth.token.workspaceId == workspaceId;
    }
    match /Prod-UserMetadata/{documentId} {
      allow read: if
        request.auth != null && 
        request.auth.uid == documentId;
      allow read: if
        request.auth != null && 
        request.auth.token.role == 'owner' &&
        request.auth.token.workspaceId == resource.data.workspaceId;
    }
  }
}
service firebase.storage {
  match /b/{bucket}/o {
    match /Prod-Workspace-Files/{workspaceId}/{allPaths=**} {
      allow read, write: if
        request.auth != null && 
        request.auth.token.workspaceId == workspaceId;
    }
  }
}