<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>341748622809-f1flufl1tvlj2p5iu9i2cf06gud7ubne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341748622809-f1flufl1tvlj2p5iu9i2cf06gud7ubne</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>341748622809-m63o15jt3ip279hsvfddtv6psd1rfn7u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC8US6wCHh0bfm1riNl5AKWXoVT77J8MS0</string>
	<key>GCM_SENDER_ID</key>
	<string>341748622809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>us.tke.ninetypercent</string>
	<key>PROJECT_ID</key>
	<string>ninety-percent</string>
	<key>STORAGE_BUCKET</key>
	<string>ninety-percent.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341748622809:ios:1a75e64c34dd56ec8de5c8</string>
</dict>
</plist>