@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
   url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

body {
  /* padding: 60px 0 0 0; */
  padding: env(safe-area-inset-top) 0 0 0;
  box-sizing: border-box;
  background-color: #4caf50ff;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  width: 100vw;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  color: #333333;
  font-size: 1rem;
  margin: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
::-webkit-scrollbar{
  display: none;
}

/* From - https://www.w3schools.com/howto/howto_css_disable_text_selection.asp */
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}